/*

--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400

- Line heights:
Default: 1

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 02 COLORS

- Primary: #e67e22
- Tints:
- Shades:
- Accents:
- Greys: #555

--- 03 SHADOWS

--- 04 BORDER RADIUS

--- 05 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Domyślna wartość w przeglądarkach to 16px i żeby działa użytkownikowi zmiana wielkości czcionki musimy zmienić to w procentach na 10 px */
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/*

Zazwyczaj stosujemy to zamiast width ponieważ jak zmniejsza się viewport to zmniejsza się również element
max-width: 1000px;

REM - jeśli nie zdefiniujemy dla elementu html wielkości czcionki to 1 REM będzie brał rozmiar domyślny z przeglądarki
więc jeśli zmienimy np dla mobile czcionkę dla html to zmienią się też wszystkie rozmiary
najlepiej w html ustawić 10px wtedy ułatwia do kalkulacje
*/