* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; // tworzenie zmiennej

@mixin clearfix { //tworzenie template kodu do incjectu - mixin
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin style-link-text($color) { //mixin może przyjmować zmienne
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
}

@function divide($a, $b) { //funkcje
  @return $a / $b;
}

%btn-placeholder {
  padding: 10px;
}

nav {
  margin: divide(60, 2) * 1px;
  background-color: $color-primary;

  @include clearfix; // wstawianie mixina

  li { // to jest to samo co: nav li (zagnieżdżanie)
    display: inline-block;

    &:first-child { // & jest to ścieżka selektorów na ten moment czyli - nav li:first-child
      margin: 0;
    }

    a {
      text-decoration: none;
      background-color: darken($color-primary, 10%); // przyciemnia kolor
    }
  }
}

button {
  @extend %btn-placeholder; // button dziedziczy po tym placeholderze
  @include style-link-text($color-primary); //wstawianie mixina z przekazaniem zmiennej
}

//  npm install sass --save-dev